name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - name: Check (blitz)
      run: cargo check --features blitz --verbose
    - name: Check (litehtml)
      run: cargo check --no-default-features --features litehtml --verbose
    - name: Check (docs_only)
      run: cargo check --no-default-features --features docs_only --verbose
